*{
  box-sizing: border-box;
  margin: 0;
}


body{
font-family: 'Montserrat', sans-serif;



}

.main-header{
  margin-top:0.7rem ;
}

.container{
  width: auto;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.success{
  position: absolute;
  width: auto;
  top: 10%;
  left: 20%;
  margin: 0.4rem;
  padding: 1rem;
  font-weight: 700;
  border: 1px solid black;
  color: rgba(0, 121, 75, 0.991);
}


.danger{
  position: absolute;
  top: 20%;
  left: 20%;
  margin: 0.2rem;
  padding: 1rem;
  font-weight: 700;
  color: rgba(236, 0, 0, 0.991);
}