*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

.main-header{

margin-top:3.5rem ;
}

.success{
  
  width: -webkit-fill-available;
  margin: 0.4rem;
  padding: 1rem;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 10px;
  color: rgba(0, 121, 75, 0.991);
}


.danger{
  width: -webkit-fill-available;
  margin: 0.4rem;
  padding: 1rem;
  font-weight: 700;
  border: 1px solid red;
  border-radius: 10px;
  color: rgba(236, 0, 0, 0.991);
}

label{
  display: block;
  padding:0.5rem;
}
.input{
  width: 500px;

}